.input {
  width: 250px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input:focus {
  border-color: #0a66c2;

  outline: none;
}
